<% provide(:title, 'All Teams') %>
<h1><%=yield(:title) %></h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%=render @teams %>

</table>

<br />

<% if admin? %>
  <%= link_to 'New Team', new_team_path %>
<% end %>

<%= will_paginate %>