<% provide(:title, 'New Team') %>
<h1><%=yield(:title) %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@team, html: {class: "form-horizontal well"}) do |f| %>

      <%=render 'fields', f: f %>

      <div class="form-actions">
        <%= f.submit "Create Team", class: "btn btn-large btn-primary btn-success" %>
        <%= link_to 'Cancel', teams_path, class: "btn btn-large" %>
      </div>
    <% end %>
  </div>
</div>

<% provide :leftNavButtonBody, 'Teams' %>
<% provide :leftNavButtonUrl, teams_path %>