<%= render 'shared/error_messages', resource: @season %>

<div class="control-group">
  <%= f.label :name, "Name", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :date_start, "Start Date", class: "control-label" %>
  <div class="controls">
    <%= f.date_select :date_start, {discard_day: true, start_year: Time.now.year - 5, end_year: Time.now.year + 10, date_separator: "<span class='nwkm_dateSelectorSeparator'>&nbsp;/&nbsp;</span>"}, {class: "nwkm_dateSelector"} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cost, "Cost", class: "control-label" %>
  <div class="controls">
    <%= f.number_field :cost, {step: 0.01, min: 0.00} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :cost_student, "Student Cost", class: "control-label" %>
  <div class="controls">
    <%= f.number_field :cost_student, {step: 0.01, min: 0.00} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :competition_id, class: "control-label" %>
  <div class="controls">
    <%= f.select :competition_id, Competition.all.collect { |comp| [comp.name, comp.id] }, {}, {class: "fill"} %>
  </div>
</div>