<tr>
  <td><%= link_to season.name, season %></td>
  <td><%= season.competition.nil? ? "" : link_to(season.competition.name, season.competition) %></td>
  <td><%= l season.date_start, format: :medium %></td>
  <td><%= number_to_currency season.cost %></td>
  <td><%= number_to_currency season.cost_student %></td>
  <% if admin? %>
    <td><%= link_to 'Edit', edit_season_path(season), {class: "btn btn-warning"} %></td>
    <td><%= link_to 'Delete', season, class: "btn btn-danger", method: :delete, data: { confirm: t(:confirm_season_delete, {id: season.id, name: season.name, date_start: season.date_start}) } %></td>
  <% end %>
</tr>