<% provide(:title, "Edit Season") %> 
<h1><%=@season.name %></h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@season) do |f| %>
      
      <%=render 'fields', f: f %>

      <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>

<%= link_to 'Show', @season %> |
<%= link_to 'List', seasons_path %>