<% provide(:title, 'All Seasons') %>
<h1><%=yield(:title) %></h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Name</th>
    <th>Start Date</th>
    <th>Cost</th>
    <th>Cost (Student)</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%=render @seasons %>

</table>

<br />

<% if admin? %>
  <%= link_to 'New Season', new_season_path %>
<% end %>

<%= will_paginate %>