<% provide(:title, @season.name) %>
<h1>
  <%= @season.name %>
</h1>
<div class="row">
  <div class="span6 offset3">
    <dl class="dl-horizontal">
      <%= dtdd 'Name', @season.name %>
      <%= dtdd 'Start Date', @season.date_start %>
      <%= dtdd 'Cost', @season.cost %>
      <%= dtdd 'Student Cost', @season.cost_student %>
      <dt>

      </dt>
      <dd>
        <% if admin? %>
          <%= link_to 'Edit', edit_season_path(@season), class: "btn btn-large btn-warning" %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Seasons' %>
<% provide :leftNavButtonUrl, seasons_path %>
