<% provide(:title, @season.name) %>
<h1>
  <%= @season.name %>
</h1>
<div class="row">
  <div class="span6 offset3">
    <dl class="dl-horizontal">
      <%= dtdd 'Name', @season.name %>
      <%= dtdd 'Start Date', l(@season.date_start, format: :medium) %>
      <%= dtdd 'Cost', number_to_currency(@season.cost) %>
      <%= dtdd 'Student Cost', number_to_currency(@season.cost_student) %>
      <%= dtdd 'Competition', (@season.competition.nil? ? raw("&nbsp;") : link_to(@season.competition.name, @season.competition)) %>

      <% unless @season.divisions.empty? %>
        <dt>
          Divisions
        </dt>
        <dd>
          <ul class="unstyled">
            <% @season.divisions.each do |division| %>
              <li><%= link_to "#{division.name} (#{sex_string(division.sex)})", division_path(division) %></li>
            <% end %>
          </ul>
        </dd>
      <% end %>
      
      <% if admin? %>
        <%= dtdd '', link_to('Edit', edit_season_path(@season), class: "btn btn-large btn-warning") %>
      <% end %>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Seasons' %>
<% provide :leftNavButtonUrl, seasons_path %>