<%= render 'shared/error_messages', resource: @invoice %>

<div class="control-group">
  <%= f.label :player_id, "Player", class: "control-label" %>
  <div class="controls">
    <%= f.select :player_id, Player.all.collect { |player| [full_name(player), player.id] }, {include_blank: true}, {class: "fill"} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :amount_dollars, "Amount", class: "control-label" %>
  <div class="controls">
    <%= f.number_field :amount_dollars, {step: 0.01, min: 0.00} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :notes, "Notes", class: "control-label" %>
  <div class="controls">
    <%= f.text_area :notes, rows: 5 %>
  </div>
</div>