<% provide(:title, "Edit Invoice") %> 
<h1>
  <%=invoice_code(@invoice) %>
  <small>
    Edit
  </small>
</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@invoice, html: {class: "form-horizontal well"}) do |f| %>
      
      <%=render 'fields', f: f %>

      <div class="form-actions">
        <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
        <%= link_to 'Cancel', @invoice, class: "btn btn-large" %>
      </div>
    <% end %>
  </div>
</div>

<% provide :leftNavButtonBody, 'Invoices' %>
<% provide :leftNavButtonUrl, invoices_path %>