<% provide(:title, invoice_code(@invoice)) %>

<div class="row">
  <div class="span6 offset3">
    <dl class="dl-horizontal">
      <%= dtdd 'Code', invoice_code(@invoice) %>
      <%= dtdd 'Player', (@invoice.player.nil? ? raw("&nbsp;") : link_to(full_name(@invoice.player), @invoice.player)) %>
      <%= dtdd 'Season', (@invoice.season.nil? ? raw("&nbsp;") : link_to(@invoice.season.name, @invoice.season)) %>
      <%= dtdd 'Amount', number_to_currency(@invoice.amount_dollars) %>
      <%= dtdd 'Outstanding', number_to_currency(@invoice.outstanding_dollars) %>
      <%= dtdd 'Created At', l(@invoice.created_at.in_time_zone(LOCAL_TIMEZONE), format: :long) %>
      <%= dtdd 'Updated At', l(@invoice.updated_at.in_time_zone(LOCAL_TIMEZONE), format: :long) %>
      <%= dtdd 'Notes', @invoice.notes %>

      <% unless @invoice.transactions.empty? %>
        <dt>
          Transactions
        </dt>
        <dd>
          <ul class="unstyled">
            <% @invoice.transactions.each do |transaction| %>
              <li><%= link_to "#{transaction.code} - #{number_to_currency(transaction.amount_dollars)}", transaction_path(transaction) %></li>
            <% end %>
          </ul>
        </dd>
      <% end %>
      
      <% if admin? %>
        <%= dtdd '', link_to(raw("<i class='icon-edit'></i> Edit"), edit_invoice_path(@invoice), class: "btn btn-large btn-warning") + " " + link_to(raw("<i class='icon-credit-card'></i> Pay"), new_transaction_path('transaction[invoice_id]' => @invoice.id), class: "btn btn-large btn-primary") %>
      <% end %>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Invoices' %>
<% provide :leftNavButtonUrl, invoices_path %>