<%= render 'shared/error_messages', resource: @division %>

<div class="control-group">
  <%= f.label :name, "Name", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :name %>
  </div>
</div>

<div class="control-group">
  <%= f.label :sex, class: "control-label" %>
  <div class="controls">
    <%= f.select :sex, {Male: SEX_MALE, Female: SEX_FEMALE, Mixed: SEX_MIXED} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :season_id, class: "control-label" %>
  <div class="controls">
    <%= f.select :season_id, Season.all.collect { |season| [season.name, season.id] }, {} %>
  </div>
</div>