<% provide(:title, 'All Divisions') %>
<h1><%=yield(:title) %></h1>

<%= will_paginate %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Season</th>
    <th>Sex</th>
    <% if admin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

  <%=render @divisions %>

</table>

<br />

<% if admin? %>
  <%= link_to 'New Division', new_division_path, class: "btn btn-large btn-primary" %>
<% end %>

<% provide :leftNavButtonBody, 'Seasons' %>
<% provide :leftNavButtonUrl, seasons_path %>

<% provide :rightNavButtonBody, 'Teams' %>
<% provide :rightNavButtonUrl, teams_path %>

<%= will_paginate %>