<% provide(:title, 'All Divisions') %>
<h1><%=yield(:title) %></h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Name</th>
    <th>Sex</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%=render @divisions %>

</table>

<br />

<% if admin? %>
  <%= link_to 'New Division', new_division_path %>
<% end %>

<%= will_paginate %>