<% provide(:title, 'All Divisions') %>

<div id="nwkm_filters">
  <%= form_tag divisions_path, method: :get do %>
    <%= select_tag :season_id, options_from_collection_for_select(@seasons, :id, :name, params[:season_id]), {include_blank: true, class: "span3"} %>
    <%= select_tag :sex, options_for_select(sex_types, params[:sex]), {include_blank: true, class: "span3"} %>
    <%= button_tag type: :submit, class: "btn" do %>
      <i class="icon-search icon-white"></i> Search
    <% end %>
  <% end %>
</div>

<% if admin? %>
  <% provide :actions, link_to(raw('<i class="icon-plus icon-white"></i> New Division'), new_division_path, class: "btn btn-large btn-primary") %>
<% end %>

<%= render 'layouts/pagination' %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Name</th>
    <th>Year</th>
    <th>Season</th>
    <th>Sex</th>
    <% if admin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

  <%=render @divisions %>

</table>

<%= render 'layouts/pagination' %>

<% provide :leftNavButtonBody, 'Seasons' %>
<% provide :leftNavButtonUrl, seasons_path %>

<% provide :rightNavButtonBody, 'Teams' %>
<% provide :rightNavButtonUrl, teams_path %>