<% provide(:title, @division.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= @division.name %>
      </h1>
      <span><%=sex_string(@division.sex) %></span>
      <span>System ID: <%= @division.id%></span>
    </section>
  </aside>
</div>

<% if admin? %>
  <%= link_to 'Edit', edit_division_path(@division) %> |
<% end %>

<%= link_to 'List', divisions_path %>
