<%= render 'shared/error_messages', resource: @spare_uniform %>

<div class="control-group">
  <%= f.label :number, class: "control-label" %>
  <div class="controls">
    <%= f.number_field :number, {step: 1, max: 99} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :size, "Size", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :size %>
  </div>
</div>

<div class="control-group">
  <%= f.label :sex, class: "control-label" %>
  <div class="controls">
    <%= f.select :sex, {Male: SEX_MALE, Female: SEX_FEMALE}, {}, {class: "fill"} %>
  </div>
</div>