<tr>
  <td><%= link_to payment_code(payment), payment %></td>
  <td><%= link_to invoice_code(payment.invoice), payment.invoice %></td>
  <td><%= link_to full_name(payment.invoice.player), payment.invoice.player %></td>
  <td><%= number_to_currency payment.amount_dollars %></td>
  <td><%= payment_type(payment.method) %></td>
  <td><%= truncate payment.notes %></td>
  <% if admin? %>
    <td><%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_payment_path(payment), {class: "btn btn-warning"} %></td>
    <td><%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), payment, class: "btn btn-danger", method: :delete, data: { confirm: t(:confirm_payment_delete, {id: payment.id, player_name: full_name(payment.invoice.player)}) } %></td>
  <% end %>
</tr>