<% provide(:title, "Edit Payment") %> 
<h1>
  <%=payment_code(@payment) %>
  <small>
    Edit
  </small>
</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@payment, html: {class: "form-horizontal well"}) do |f| %>
      
      <%=render 'fields', f: f %>

      <div class="form-actions">
        <%= f.submit "Save changes", class: "btn btn-large btn-success" %>
        <%= link_to 'Cancel', @payment, class: "btn btn-large" %>
      </div>
    <% end %>
  </div>
</div>

<% provide :leftNavButtonBody, 'Payments' %>
<% provide :leftNavButtonUrl, payments_path %>