<% provide(:title, invoice_code(@payment.invoice)) %>

<div class="row">
  <div class="span6 offset3">
    <dl class="dl-horizontal">
      <%= dtdd 'Code', payment_code(@payment) %>
      <%= dtdd 'Invoice', link_to(invoice_code(@payment.invoice), @payment.invoice) %>
      <%= dtdd 'Player', (@payment.invoice.player.nil? ? raw("&nbsp;") : link_to(full_name(@payment.invoice.player), @payment.invoice.player)) %>
      <%= dtdd 'Season', (@payment.invoice.season.nil? ? raw("&nbsp;") : link_to(@payment.invoice.season.name, @payment.invoice.season)) %>
      <%= dtdd 'Amount', number_to_currency(@payment.amount_dollars) %>
      <%= dtdd 'Created At', l(@payment.created_at.in_time_zone(LOCAL_TIMEZONE), format: :long) %>
      <%= dtdd 'Notes', @payment.notes %>
      
      <% if admin? %>
        <%= dtdd '', link_to(raw("<i class='icon-edit'></i> Edit"), edit_payment_path(@payment), class: "btn btn-large btn-warning") + " " + link_to(raw('<i class="icon-trash icon-white"></i> Delete'), @payment, class: "btn btn-large btn-danger", method: :delete, data: { confirm: t(:confirm_payment_delete, {id: @payment.id, player_name: full_name(@payment.invoice.player)}) }) %>
      <% end %>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Payments' %>
<% provide :leftNavButtonUrl, payments_path %>