<%= render 'shared/error_messages', resource: @player %>

<div class="control-group">
  <%= f.label :name_family, "Family Name", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :name_family %>
  </div>
</div>

<div class="control-group">
  <%= f.label :name_given, "Given Name", class: "control-label" %>
  <div class="controls">
    <%= f.text_field :name_given %>
  </div>
</div>

<div class="control-group">
  <%= f.label :email, class: "control-label" %>
  <div class="controls">
    <%= f.text_field :email %>
  </div>
</div>

<div class="control-group">
  <%= f.label :sex, class: "control-label" %>
  <div class="controls">
    <%= f.select :sex, {Male: SEX_MALE, Female: SEX_FEMALE}, {}, {class: "fill"} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :date_of_birth, "Date of Birth", class: "control-label" %>
  <div class="controls">
    <%= f.date_select :date_of_birth, {start_year: 1950, end_year: Time.now.year, include_blank: true, date_separator: "<span class='nwkm_dateSelectorSeparator'>/ </span>"}, {class: "nwkm_dateSelector"} %>
  </div>
</div>