<% provide(:title, 'All Players') %>
<h1><%=yield(:title) %></h1>

<%= will_paginate %>

<table class="table table-striped table-bordered table-hover">
  <tr>
    <th>Family Name</th>
    <th>Given Names</th>
    <th>Sex</th>
    <th>Student ID</th>
    <th>Date of Birth</th>
    <th>Email</th>
    <% if admin? %>
      <th></th>
      <th></th>
    <% end %>
  </tr>

  <%=render @players %>

</table>

<br />

<% if admin? %>
  <%= link_to raw('<i class="icon-plus icon-white"></i> New Player'), new_player_path, class: "btn btn-large btn-primary" %>
  <%= link_to raw('<i class="icon-upload icon-white"></i> Import Players'), new_player_path(active: "import"), class: "btn btn-large btn-primary" %>
<% end %>

<% provide :leftNavButtonBody, 'Teams' %>
<% provide :leftNavButtonUrl, teams_path %>

<%= will_paginate %>