<% provide(:title, 'All Players') %>
<h1><%=yield(:title) %></h1>

<%= will_paginate %>

<table>
  <tr>
    <th>Family Name</th>
    <th>Given Names</th>
    <th>Sex</th>
    <th>Student ID</th>
    <th>Date of Birth</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <%=render @players %>

</table>

<br />

<%= link_to 'New Player', new_player_path %>

<%= will_paginate %>