<% provide(:title, 'New Player') %>
<h1><%=yield(:title) %></h1>

<div class="tabbable">

  <ul class="nav nav-tabs">
    <li <%= active_tab_default?("create") ? raw('class="active"') : "" %>>
      <a href="#create" data-toggle="tab">Create Player</a>
    </li>
    <li <%= active_tab?("import") ? raw('class="active"') : "" %>>
      <a href="#import" data-toggle="tab">Import Players</a>
    </li>
  </ul>

  <div class="row">
    <div class="span6 offset3">
      <div class="tab-content">
        <div id="create" class="tab-pane <%= active_tab_default?("create") ? raw('active') : "" %>">
          
          <%= form_for(@player, html: {class: "form-horizontal well"}) do |f| %>

            <%=render 'players/fields', f: f %>

            <div class="form-actions">
              <%= f.submit "Create Player", class: "btn btn-large btn-primary btn-success" %>
              <%= link_to 'Cancel', players_path, class: "btn btn-large" %>
            </div>
          <% end %>
        </div>

        <div id="import" class="well tab-pane <%= active_tab?("import") ? raw('active') : "" %>">
          
          <%= render 'shared/error_messages', resource: @player_import %>

          <p>A CSV or Excel file can be used to import records. The first row should be the column name. The following columns are allowed:</p>

          <dl class="dl-horizontal">
            <% Player.columns.each do |column| %>
              <% if column.name.in? ["id", *Player.accessible_attributes] %>
                <%= dtdd column.name, column.type.to_s.titleize %>
              <% end %>
            <% end %>
          </dl>

          <p>If an <strong>id</strong> is supplied it will update the matching record instead of creating a new one.</p>

          <%= form_for(@player_import, html: {class: "form-horizontal"}) do |f| %>

            <div class="control-group">
              <%= f.label :file, "File", class: "control-label" %>
              <div class="controls">
                <%= f.file_field :file %>
              </div>
            </div>

            <%= hidden_field_tag "active", "import" %>

            <div class="form-actions">
              <%= f.submit "Import Players", class: "btn btn-large btn-primary btn-success" %>
              <%= link_to 'Cancel', players_path, class: "btn btn-large" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>

</div>

<% provide :leftNavButtonBody, 'Players' %>
<% provide :leftNavButtonUrl, players_path %>