<% provide(:title, full_name(@player)) %>
<h1>
  <%= full_name(@player) %>
</h1>
<div class="row">
  <div class="span6 offset3">
    <dl class="dl-horizontal">
      <%= dtdd 'Name', full_name(@player) %>
      <%= dtdd 'Sex', sex_string(@player.sex) %>
      <%= dtdd 'Student ID', (@player.student_number.blank? ? raw('&nbsp;') : @player.student_number) %>
      <%= dtdd 'Date of Birth', (@player.date_of_birth.blank? ? raw('&nbsp;') : "#{@player.date_of_birth} (#{age(@player.date_of_birth)})") %>
      <%= dtdd 'Email', @player.email %>
      <dt>

      </dt>
      <dd>
        <% if admin? %>
          <%= link_to 'Edit', edit_player_path(@player), class: "btn btn-large btn-warning" %>
        <% end %>
      </dd>
    </dl>
  </div>
</div>

<% provide :leftNavButtonBody, 'Players' %>
<% provide :leftNavButtonUrl, players_path %>
