<% provide(:title, full_name(@player)) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= full_name(@player) %>
      </h1>
      <span><%= sex_string(@player.sex) %></span>
      <span>System ID: <%= @player.id%></span>
      <span>Student ID: <%= @player.student_number %></span>
      <span><%= @player.date_of_birth %><%=(" (#{age(@player.date_of_birth)})") unless @player.date_of_birth.nil? %></span>
      <span><%= @player.email %></span>
    </section>
  </aside>
</div>

<%= link_to 'Edit', edit_player_path(@player) %> |
<%= link_to 'List', players_path %>
