<%= render 'shared/error_messages', resource: @transaction %>

<div class="control-group">
  <%= f.label :credit, "Type", class: "control-label" %>
  <div class="controls">
    <%= f.select :credit, {"Credit (paid into club account)" => true, "Debit (paid out of club account" => false}, {}, {class: "fill"} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :paid_at, "Payment Date", class: "control-label" %>
  <div class="controls">
    <%= f.date_select :paid_at, {start_year: 2010, end_year: Time.now.year, include_blank: false, date_separator: "<span class='nwkm_dateSelectorSeparator'>/ </span>"}, {class: "nwkm_dateSelector"} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :category_id, class: "control-label" %>
  <div class="controls">
    <%= f.select :category_id, @categories_with_parents.collect { |category| ["#{category.parent.name} - #{category.name}", category.id] }, {}, {class: "fill"} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :invoice_id, "Invoice", class: "control-label" %>
  <div class="controls">
    <%= f.select :invoice_id, Invoice.all.collect { |invoice| [invoice_code(invoice), invoice.id] }, {include_blank: true}, {class: "fill"} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :amount_dollars, "Amount", class: "control-label" %>
  <div class="controls">
    <%= f.number_field :amount_dollars, {step: 0.01} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :method, class: "control-label" %>
  <div class="controls">
    <%= f.select :method, Transaction::METHODS, {}, {class: "fill"} %>
  </div>
</div>

<div class="control-group">
  <%= f.label :notes, "Notes", class: "control-label" %>
  <div class="controls">
    <%= f.text_area :notes, rows: 5 %>
  </div>
</div>