<tr class="<%= transaction_row_class(transaction) %>">
  <td><%= link_to transaction.code, transaction %></td>
  <td><%= transaction.type_string.titleize %></td>
  <td><%= transaction.category.name.titleize %></td>
  <td><%= transaction.invoice.nil? ? "" : link_to(invoice_code(transaction.invoice), transaction.invoice) %></td>
  <td><%= transaction.invoice.nil? || transaction.invoice.player.nil? ? "" : link_to(full_name(transaction.invoice.player), transaction.invoice.player) %></td>
  <td><%= number_to_currency transaction.amount_dollars %></td>
  <td><%= l(transaction.paid_at.to_datetime.in_time_zone(LOCAL_TIMEZONE), format: :long) %></td>
  <td><%= truncate transaction.notes %></td>
  <% if admin? %>
    <td><%= link_to raw('<i class="icon-edit icon-white"></i> Edit'), edit_transaction_path(transaction), {class: "btn btn-warning"} %></td>
    <td><%= link_to raw('<i class="icon-trash icon-white"></i> Delete'), transaction, class: "btn btn-danger", method: :delete, data: { confirm: t(:confirm_transaction_delete, {id: transaction.id, type: transaction.type_string.titleize, category: transaction.category.name, amount: transaction.amount}) } %></td>
  <% end %>
</tr>