<table class="table table-bordered">
  <tr>
    <th>Number</th>
    <th>Name</th>
    <th>Additional Name</th>
    <th>Additional Name</th>
  </tr>

  <% @uniforms.each do |number, uniforms| %>
    <tr class="<%= false ? 'dark' : '' %>">
      <td><%= number %></td>
      <td><%= uniforms[0] %></td>
      <td><%= uniforms[1] %></td>
      <td><%= uniforms[2] %></td>
    </tr>
  <% end %>
</table>