<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to Settings.title, root_path, id: "logo" %>
      <nav>
        <ul class="nav pull-right">
          <% if signed_in? %>
            <!-- Reports Menu -->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Reports <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Membership", '/reports/membership' %></li>
                <li><%= link_to "Financial",  '/reports/financial' %></li>
                <li><%= link_to "Uniform Numbers",  '/reports/uniform_numbers' %></li>
              </ul>
            </li>
            <!-- Financials Menu -->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Finance <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Invoices",     invoices_path %></li>
                <li><%= link_to "Transactions", transactions_path %></li>
                <li><%= link_to "Report",       '/reports/financial' %></li>
              </ul>
            </li>
            <!-- Assets Menu -->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Assets <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Competitions", competitions_path %></li>
                <li><%= link_to "Seasons",      seasons_path %></li>
                <li><%= link_to "Divisions",    divisions_path %></li>
                <li><%= link_to "Teams",        teams_path %></li>
                <li><%= link_to "Players",      players_path %></li>
              </ul>
            </li>
            <% if admin? %>
              <!-- Management Menu -->
              <li id="fat-menu" class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  Management <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><%= link_to "Users", users_path %></li>
                </ul>
              </li>
            <% end %>
            <!-- Account Menu -->
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to raw('<i class="icon-user"></i> Profile'),  current_user %></li>
                <li><%= link_to raw('<i class="icon-wrench"></i> Settings'), edit_user_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to raw('<i class="icon-off"></i> Sign Out'), signout_path, method: :delete %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign in", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </div>
</header>