<div class="container nwkm_navButtons nwkm_navButtonsHeader">
  <div class="row">
    <div class="span2">
      <% if content_for? :leftNav %>
        <%= yield :leftNav %>
      <% elsif content_for?(:leftNavButtonBody) && content_for?(:leftNavButtonUrl) %>
        <%= link_to(raw("<i class='icon-circle-arrow-left'></i> #{yield(:leftNavButtonBody)}"), yield(:leftNavButtonUrl), class: "btn btn-large pull-left") %>
      <% else %>
        &nbsp;
      <% end %>
    </div>

    <div class="span8">
      <% if content_for? :title %>
        <h1>
          <%= yield :title %>
          <% if content_for? :titleSmall %>
            <small>
              <%= yield :titleSmall %>
            </small>
          <% end %>
        </h1>
      <% else %>
        &nbsp;
      <% end %>
    </div>

    <div class="span2">
      <% if content_for? :rightNav %>
        <%= yield :rightNav %>
      <% elsif content_for?(:rightNavButtonBody) && content_for?(:rightNavButtonUrl) %>
        <%= link_to(raw("#{yield(:rightNavButtonBody)} <i class='icon-circle-arrow-right'></i>"), yield(:rightNavButtonUrl), class: "btn btn-large pull-right") %>
      <% else %>
        &nbsp;
      <% end %>
    </div>
  </div>
</div>